<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="Charge">
  	<!-- 결과담을 Map 작성 -->
   	<resultMap id="ChargeListMap" type="free.admin.vo.ChargeListVo">
  		<result property="rownum"		 column="ROWNUM" 		javaType="int"/>
  		<result property="charge_id"	 column="CHARGE_ID" 	javaType="string"/>
  		<result property="charge_pwd"	 column="CHARGE_PWD" 	javaType="string"/>
  		<result property="charge_nm"	 column="CHARGE_NM" 	javaType="string"/>
  		<result property="company_id"	 column="COMPANY_ID" 	javaType="string"/>
  		<result property="company_name"	 column="company_name" 	javaType="string"/>
  		<result property="org_id"	 	 column="org_id" 		javaType="string"/>
  		<result property="position_nm"	 column="position_nm"   javaType="string"/>
  		<result property="charge_phone"  column="charge_phone" 	javaType="string"/>
  		<result property="charge_mail_1" column="charge_mail_1"	javaType="string"/>
  		<result property="use_yn" 		 column="USE_YN"		javaType="string"/>
  	</resultMap>
  
  	
   	<select id="ChargeList"
  			statementType="CALLABLE"
  			parameterType= "hashmap"
  			resultType="free.admin.vo.ChargeListVo">
		{CALL PKG_CHARGE.PROC_CHARGE_LIST(
		#{result,  mode=OUT, jdbcType=CURSOR, javaType=RESULTSET, resultMap=ChargeListMap}
		)}
  	</select>
 
   	<select id="ChargeDetail"
  			statementType="CALLABLE"
  			parameterType= "hashmap"
  			resultType="free.admin.vo.ChargeListVo">
		{CALL PKG_CHARGE.PROC_CHARGE_DETAIL(
		#{charge_id, mode=IN, jdbcType=VARCHAR},
		#{result,  mode=OUT, jdbcType=CURSOR, javaType=RESULTSET, resultMap=ChargeListMap}
		)}
  	</select>
  	
  	<update id="ChargeUpdate" statementType="CALLABLE">
  		{CALL PKG_CHARGE.PROC_CHARGE_UPDATE(
		#{company_id, mode=IN, jdbcType=VARCHAR},
		#{charge_id, mode=IN, jdbcType=VARCHAR},
		#{charge_nm, mode=IN, jdbcType=VARCHAR},
		#{charge_pwd, mode=IN, jdbcType=VARCHAR},
		<!-- 회사이름변경#{company_name, mode=IN, jdbcType=VARCHAR}, -->
		#{org_id, mode=IN, jdbcType=VARCHAR},
		#{position_nm, mode=IN, jdbcType=VARCHAR},
		#{charge_phone, mode=IN, jdbcType=VARCHAR},
		#{charge_mail_1, mode=IN, jdbcType=VARCHAR},
		#{use_yn, mode=IN, jdbcType=VARCHAR}
		)}
  	</update>
  	
  	<insert id="ChargeInsert"
  			statementType="CALLABLE">
		{CALL PKG_CHARGE.PROC_CHARGE_INSERT(
		#{charge_nm, mode=IN, jdbcType=VARCHAR},
		#{charge_pwd, mode=IN, jdbcType=VARCHAR},
		#{company_id,   mode=IN, jdbcType=VARCHAR},
		#{org_id,    mode=IN, jdbcType=VARCHAR},
		#{position_nm,  mode=IN, jdbcType=VARCHAR},
		#{charge_phone,    mode=IN, jdbcType=INTEGER},
		#{charge_mail_1,     mode=IN, jdbcType=INTEGER},
		#{use_yn,    mode=IN, jdbcType=VARCHAR}
		)}
  	</insert>
  	
  	<delete id="ChargeDelete"
  			statementType="CALLABLE">
  		{CALL PKG_CHARGE.PROC_CHARGE_DELETE(
  		#{charge_id, mode=IN, jdbcType=VARCHAR},
		#{company_id, mode=IN, jdbcType=VARCHAR}
  		)}		
    </delete>
  	
  	<!--
  	<select id="BoardContent"
  			statementType="CALLABLE"
  			parameterType="">
		{CALL PKG_BOARD.PROC_BOARD_CONTENT(
		#{idx, mode=IN,  jdbcType=INTEGER},
		#{result,  mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=BoardListMap}
		)}
  	</select>
  	
  	<delete id="BoardDelete"
  			statementType="CALLABLE"
  			parameterType="">
  			parameterType 은 전달받는 값의 Type임
  			전달받는 값이 없을때는 쓸 필요없음
		{CALL PKG_BOARD.PROC_BOARD_DELETE(
		#{idx, mode=IN,  jdbcType=INTEGER}
		)}
  	</delete>
  	-->
  </mapper>